<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 mx-auto text-center">
        <h1 class="text-white">Weather</h1>
      </div>
    </div>
  </div>
  
</div>

<div class="site-section">
  <div class="body">
    

    <div class="card">
      <div class="search">
        
        <form [formGroup]="searchWeatherForm">

          <input type="text" formControlName="city" class="search-bar" placeholder="City">
          <div *ngIf="searchWeatherForm.controls['city'].invalid && (
              searchWeatherForm.controls['city'].touched ||
              searchWeatherForm.controls['city'].dirty)">
            <div *ngIf="searchWeatherForm.controls['city'].errors.required" style="color: red;">
              City name is required
            </div>
          </div>
        </form>
        <button class="buton" type="submit" [disabled]="searchWeatherForm.invalid" (click)="search()"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 1024 1024" height="1.5em" width="1.5em" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z">
          </path>
        </svg></button>

        
      </div>
      <div class="" *ngIf="weatherResult">
        <h2 class="city">Weather in {{weatherResult.name}}</h2>
        <h1 class="temp">{{weatherResult.temp}}°C</h1>
        <div class="flex">
          <img [src]="iconPath" alt="" class="icon" />
          <div class="description">{{weatherResult.weatherDescr}}</div>
        </div>
        <div class="humidity">Humidity: {{weatherResult.humidity}}%</div>
        <div class="humidity">Pressure: {{weatherResult.pressure}}Pa</div>
        <div class="wind">Wind speed: {{weatherResult.windSpeed}} km/h</div>
        <div class="wind">Sunrise Time at: {{sr | date:"hh:mm"}} AM</div>
        <div class="wind">Sunset Time at: {{ss | date:"hh:mm"}} PM</div>
      </div>
    </div>
    
  </div>
</div>