<div class="container marginTopBottom">


  <div class="row">
    <div class="col-lg-12" style="text-align: center;">

      <div class="custom-media d-flex">
        <div class="img mr-4">
          <img src="assets/images/img_1.jpg" alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <span class="meta">{{X.playerName}}</span>
          <h3 class="mb-4"><a href="#">{{X.position}}</a></h3>
          <p>Nbr : {{X.number}}</p>
          <p>Age : {{X.age}} years</p>
    
        </div>
      </div>
    </div>
  </div>
 
</div>


