<app-banner title="Team Information"></app-banner>


<div class="container marginTopBottom">


    <div class="row" style="text-align: center;">
                <div class="col-lg-12 img">
                    <img src="assets/images/logo_4.png" alt="Image" class="img-fluid">
                </div>
                 
                <div class="col-lg-12 text mb-5">
                    <h5 style="color: gold;">Team Name : <span class="meta" style="color: beige;">{{team.teamName}}</span></h5>
                    <h5 style="color: gold;">Stadium : <span class="meta" style="color: beige;">{{team.stadium}}</span></h5>
                    <h5 style="color: gold;">Owner Name : <span class="meta" style="color: beige;">{{team.owner}}</span></h5>
                    <h5 style="color: gold;">Foundation : <span class="meta" style="color: beige;">{{team.foundation}}</span></h5>

                </div>
    </div>

</div>