<div class="container marginTop">


  <div class="row">
    <div class="col-lg-12" style="margin-top: 100 px;">

      <div class="d-flex team-vs">
        <span class="score">
          <span [ngStyle]="{'color': scoreColor(X.scoreOne, X.scoreTwo)}">{{X.scoreOne}}</span>
          -
          <span [ngStyle]="{'color': scoreColor( X.scoreTwo,X.scoreOne)}">{{X.scoreTwo}}</span>
        </span>
        <div class="team-1 w-50">
          <div class="team-details w-100 text-center">
            <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
            <h3>
              <span [ngClass]="{
                'win': teamStyle(X.scoreOne,X.scoreTwo) == 'Win',
                'loss': teamStyle(X.scoreOne,X.scoreTwo) == 'Loss',
                'draw': teamStyle(X.scoreOne,X.scoreTwo) == 'Draw'
              }">

                {{X.teamOne}}

              </span>
              <span>({{teamStyle(X.scoreOne,X.scoreTwo)}})</span>
            </h3>
            <ul class="list-unstyled">
              <li>Anja Landry (7)</li>
              <li>Eadie Salinas (12)</li>
              <li>Ashton Allen (10)</li>
              <li>Baxter Metcalfe (5)</li>
            </ul>
          </div>
        </div>
        <div class="team-2 w-50">
          <div class="team-details w-100 text-center">
            <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
            <h3>
              <span [ngClass]="{
                'win': teamStyle(X.scoreTwo,X.scoreOne) == 'Win',
                'loss': teamStyle(X.scoreTwo,X.scoreOne) == 'Loss',
                'draw': teamStyle(X.scoreTwo,X.scoreOne) == 'Draw'
              }">

                {{X.teamTwo}}

              </span>


              <span>({{teamStyle(X.scoreTwo,X.scoreOne)}})</span>
            </h3>
            <ul class="list-unstyled">
              <li>Macauly Green (3)</li>
              <li>Arham Stark (8)</li>
              <li>Stephan Murillo (9)</li>
              <li>Ned Ritter (5)</li>
              
            </ul>
            <div class="text-center mt-3">
              <button type="button" class="btn btn-outline-dark"  (click)="deleteMatch(X.id)">Delete</button>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>
 
</div>